<html lang='de'>

<head>
    <meta charset='UTF-8' />
    <title>Passwortrücksetzung für {{site_name}} erforderlich</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin:
                0;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

        .expiration-info {
            color: red;
        }
    </style>
</head>

<body>

    <div class='container'>
        <!--Frage an BuelerBar-->
        <h2>Frage von {{body.firstname}}</h2>
        <p>Der Nutzer {{body.firstname}} {{body.lastname}} hat eine Frage an BuelerBar gesendet.</p>
        <p>Die E-Mail-Adresse des Nutzers lautet: {{body.email}}</p>
        <p>Der Nutzer hat folgende Nachricht hinterlassen:</p>
        <br>
        <div>
            <h3>{{body.subject}}</h3>
            <p>{{body.message}}</p>
        </div>
        <br>
        <p>Bei Fragen oder Problemen stehen wir dir gerne zur Verfügung.</p>
        <p>Beste Grüße,</p>
        <p>Dein {{ site_name }}-Team</p>
    </div>

</body>

</html>